
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

/******** правка bootsrap************/
.nav > li > a:hover, 
.nav > li > a:focus {
    text-decoration: none;
    background-color: #000;
}

body {
    /*font-family: "Exo2Regular",sans-serif;*/
    font-family: "Exo2Bold",sans-serif; 
}

/******** правка bootsrap finish************/

.main {
	width: 100%;
	height: 100%;
	max-width: 1170px;
	margin: 0 auto;

}


/*------------header---------*/
.main__head {
	position: relative;
	width: 100%;
	height: auto;
	/*background-color: #1E6BAD;*/
	
}

.menu-color {
	background-color: #ffea00;
}

.link-color {
	color: #D7070E;
}

/** костыли **/
#hover-fix-color:hover ,
#hover-fix-color:focus {
	background-color: #FFEA00;
}

#hover-fix-color-top:hover,
#hover-fix-color-top:focus {
	background-color: #40C4FF;
}

/*------------ header finish---------*/

/*------------ content---------*/
.content {
	width: 100%;
	min-height: 100%;
	padding-bottom: 90px;
}

.content_images {
    width: 100%;
    height: 400px;
    z-index: 100;
    margin-bottom: -20px;
}

.content_images img {
	 width: 100%;
     height: 100%;
     z-index: 101;
     margin-top: -20px;
}

.content_images h1 {
	position: absolute;
	top: 130px;
	right: 70px;
	width: 40%;
	display: block;
	font-size: 26px;
	color: #D7070E;
	font-weight: 600;
	font-family: "IstokWebBoldItalic",sans-serif;
	
}

.middle-menu-color {
    background-color: #40c4ff;
}

/*** Приветствие***/
.content_wlecome {
	width: 100%;
	height: 250px;
	border:1px solid #e5e5e5;
	margin-bottom: 20p
} 

.welcome_images {
	width: 80%;
	height: 200px;
	margin: 20px auto;

}

.welcome_images img {
	width: 100%;
	height: 100%;

}

.welcome_text {
	width: 100%;
	height: 250px;

}

.welcome_text h1 {
	line-height: 130%;
    text-align: center;
    font-size: 20px;
    color: #D7070E;
    font-weight: 400;
    font-family: "IstokWebBoldItalic",sans-serif;

}

.welcome_text span {
	color: #D7070E;
}

.welcome_text p {
	text-indent:5%;
	font-size: 16px;
	font-family: "IstokWebBoldItalic",sans-serif;
	margin-left: 10px;
	margin-right: 10px;

}

.statment {
	text-align: right;
	color: #D7070E;
    font-weight: 400;
    font-family: "IstokWebBoldItalic",sans-serif;

}

/***Приветствие finish***/

/**** banners******/
.content_main-baners {
	width: 100%;
	height: 120px;
	background-color: #40C4FF;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.baner-inner {
	width: 200px;
	height: 80px;
	border:1px solid #e5e5e5;
	border-radius:3px;
	float: left;
	margin-left: 20px;
	margin-bottom: 10px;
	background-color: #fff;
	-webkit-box-shadow:  0 6px 12px rgba(0,0,0,.175);
    box-shadow:  0 6px 12px rgba(0,0,0,.175);

}

.baner-inner_img {
	width: 76px;
	height: 76px;
	margin-left: 1px;
	margin-top: 1px;
    float: left;
}

.baner-inner_img img {
	width: 100%;
	height: 100%;
}

.baner-inner_text {
	width: 120px;
	height: 80px;
	float: left;
	padding:5px; 
}

.baner-inner_text p {
	font-size: 12px;
}

/**** banners finish ******/

/****slider ***/

.content_slider {
    width: 90%;
    min-height: 400px;
    height: auto;
    margin: 40px auto;
}

.content_slider h1 {
	margin-bottom: 30px;
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
    color: #D7070E;
    font-weight: 600;
    font-family: "IstokWebBoldItalic",sans-serif;
}

.owl-carousel a {
	color:#000;
	text-transform: 
}

.item-news {
	width: 95%;
	height: auto;
	margin: 0 auto;
	background-color: #fff;
}

.item-news:hover {
	width: 95%;
	height: auto;
	margin: 0 auto;
	background-color: #fff;
	-webkit-box-shadow:  0 6px 12px rgba(0,0,0,.175);
    box-shadow:  0 6px 12px rgba(0,0,0,.175);
}

.item-news_img {
	width: 100%;
	height: 200px;
}

.item-news_img:hover {
	width: 100%;
	height: 200px;
	-webkit-box-shadow:  0 6px 12px rgba(0,0,0,.175);
    box-shadow:  0 6px 12px rgba(0,0,0,.175);
}

.item-news_img img {
	width: 100%;
	height: 100%;
	border-top-right-radius:3px;
	border-top-left-radius: 3px; 
}   

.item-news_info {
	border:1px solid #e5e5e5;
	width: 100%;
	min-height: 150px;
	height: auto;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	
}

.item-news_info h3 {
	text-align: center;
	color: #D7070E;
	text-transform: uppercase;
	font-size: 16px;
	
}

.item-news_info p:nth-child(2) {
	font-size: 12px;
	padding-left: 10px;
	
}

.item-news_info p:nth-child(3) {
	padding-left: 10px;
	text-indent:10px;
}

.item-news_info span {
	color: #D7070E;
}

.btn-news {
	width: 250px;
	height: 50px;
	border-radius: 5px;
	margin: 0 auto;
	border:1px solid #e5e5e5;
	
}

.btn-news:hover {
	width: 250px;
	height: 50px;
	border-radius: 5px;
	margin: 0 auto;
	border:1px solid #e5e5e5;
	-webkit-box-shadow:  0 6px 12px rgba(0,0,0,.175);
    box-shadow:  0 6px 12px rgba(0,0,0,.175);
}

.btn-news p {
	text-align: center;
	font-size: 16px;
    text-transform: uppercase;
    color: #D7070E;
    font-weight: 400;
    margin-top: 17px;
    font-family: "IstokWebBoldItalic",sans-serif;
}

/****slider finish***/

/******* photo********/

.content_photo {
	width: 100%;
	height: 650px;
	min-height: 500px;
	margin-top: 40px;

}

.content_photo h1 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
    color: #D7070E;
    font-weight: 600;
    font-family: "IstokWebBoldItalic",sans-serif;
}

.photo-galery {
	width: 80%;
	height: 550px;
	margin: 0 auto;
	border:1px solid #e5e5e5;
	-webkit-box-shadow:  0 6px 12px rgba(0,0,0,.175);
    box-shadow:  0 6px 12px rgba(0,0,0,.175);
}

.photo-single {
	width: 69%;
	height: 400px;
	margin: 0 auto;
}

.photo-single > div {
	width: 90%;
	height: 90%;
	margin: 20px auto;

}

.fix-size {
	width: 580px;
	height: 360px;
    border-radius: 5px;
}

.fix-size img {
	width: 580px;
	height: 360px;
	border-radius: 5px;

}

.photo-array {
	width: 90%;
	height: 100px;
	margin: 0 auto;
	border-radius: 5px;
	background-color: #40C4FF;
	/*border:1px solid red;*/
}

  .array-item {
	width: 80px;
	height: 80px;
	float: left;
	padding: 5px;
	margin-left: 3px;
	margin-top: 10px;
	border-radius: 3px;
	border:1px solid #e5e5e5;
	

}

.array-item img {
	width: 100%;
	height: 100%;
	border-radius: 3px;
	-webkit-box-shadow:  0 6px 12px rgba(0,0,0,.175);
    box-shadow:  0 6px 12px rgba(0,0,0,.175);
	
}

/******* photo finish ********/


/************* баннерная сеть ***************/

.baners-net {
	width: 100%;
	height: 100%;
	min-height: 200px;
	margin-top: 20px;
	background-color: #FFEA00;
	border-radius: 5px;
	padding: 20px 20px 10px 20px;

}

.baners-net a {
    display: inline-block;

}

.net-inner {
	width: 100px;
	height: 100px;
	border: 1px solid red;
}

/************* баннерная сеть finish ********/

/*********** карта***********/
.on-the-map {
	width: 100%;
	height: 300px;
	min-height: 450px;
	margin-top: 40px;
}

.on-the-map h1{
	margin-bottom: 30px;
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
    color: #D7070E;
    font-weight: 600;
    font-family: "IstokWebBoldItalic",sans-serif;
}

.map_inner {
	width: 80%;
	height: 350px;
	margin: 0 auto;
	border:1px solid #e5e5e5;
	-webkit-box-shadow:  0 6px 12px rgba(0,0,0,.175);
    box-shadow:  0 6px 12px rgba(0,0,0,.175);
}

/*********** карта finish***********/

/***** дополнительные банеры****/
.dop-baners {
	width: 100%;
	height: 100%;
	min-height: 200px;
	margin-top: 40px;
	background-color: #40C4FF;
	border-radius: 5px;
	padding: 20px 20px 10px 20px;
}

.dop-baners a {
	display: inline-block;
}

/***** дополнительные банеры finish****/


/*------------ content finish---------*/
/****** над footer*******/

.pre-footer {
	width: 100%;
	height: 300px;
	background-color: #A6C9F1;
	display: none;
}

.pre-footer_block {
	width: 99%;
	height: 270px;
	border:1px solid red;
	
}

.fix-row {
	width: 80%;
	height: auto;
	margin: 0 auto;
}


/****** над footer finish*******/
/****** footer*******/
.main__footer {
	position: relative;
	width: 100%;
	height: 195px;
	margin-top: -50px;
	padding-top: 2px;
	background-size: contain;;
	background-image: url(../images/footer-img.jpg);
}

.main__footer  h5 {
    position: absolute;
    top: 30px;
    left: 40px;
    width: 60%;
    display: block;
    font-size: 16px;
    color: #D7070E;
    font-family: "IstokWebBoldItalic",sans-serif;
}

.main__footer  h5:nth-child(2) {
    position: absolute;
    top: 90px;
    left: 40px;
    width: 40%;
    display: block;
    font-size: 16px;
    color: #D7070E;
    font-family: "IstokWebBoldItalic",sans-serif;
}


.main__footer  h6 {
    position: absolute;
    top: 170px;
    left: 40px;
    width: 70%;
    display: block;
    font-size: 14px;
    color: #D7070E;
    font-weight: 600;
    font-family: "IstokWebBoldItalic",sans-serif;
    margin-top: 0px; 
    margin-bottom: 0px;
}

/****** footer finish*******/

/**********Адатив************/
@media only screen and (min-width : 992px) and (max-width : 1200px) {

.welcome_text p {
    text-indent: 5%;
    font-size: 15px;
    font-family: "IstokWebBoldItalic",sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}

.content_main-baners {
    width: 100%;
    height: auto;
    background-color: #40C4FF;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
} 

.content_main-baners a {
    display: inline-block;
}

.nav > li > a {
    position: relative;
    display: block;
    font-size: 12px;
    padding: 10px 10px;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
}


} /*@media only screen and (min-width : 992px) and (max-width : 1200px)*/

@media only screen and (min-width : 768px) and (max-width : 991px) {
.welcome_text p {
    text-indent: 5%;
    font-size: 14px;
    font-family: "IstokWebBoldItalic",sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}

.nav > li > a {
    position: relative;
    display: block;
    font-size: 12px;
    padding: 10px 10px;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
}

.content_main-baners {
    width: 100%;
    height: auto;
    background-color: #40C4FF;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
} 

.content_main-baners a {
    display: inline-block;
}

.welcome_text h1 {
    line-height: 130%;
    text-align: center;
    font-size: 18px;
    color: #D7070E;
    font-weight: 400;
    font-family: "IstokWebBoldItalic",sans-serif;
}

.statment {
    text-align: left;
    color: #D7070E;
    font-weight: 400;
    font-family: "IstokWebBoldItalic",sans-serif;
}

.main__footer h5 {
    position: absolute;
    top: 18px;
    left: 40px;
    width: 60%;
    display: block;
    font-size: 15px;
    color: #D7070E;
    font-family: "IstokWebBoldItalic",sans-serif;
}

.main__footer h5:nth-child(2) {
    position: absolute;
    top: 90px;
    left: 40px;
    width: 40%;
    display: block;
    font-size: 15px;
    color: #D7070E;
    font-family: "IstokWebBoldItalic",sans-serif;
}

.main__footer h6 {
    position: absolute;
    top: 166px;
    left: 40px;
    width: 70%;
    display: block;
    font-size: 14px;
    color: #D7070E;
    font-weight: 600;
    font-family: "IstokWebBoldItalic",sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}

} /*@media only screen and (min-width : 768px) and (max-width : 991px)*/


@media only screen and (max-width : 767px) {

.fix-btn-color-top {
	position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #FFEA00;
    background-image: none;
    border: 1px solid #FFEA00;
    border-radius: 4px;
}


.fix-btn-color-top span {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #40C4FF;
}

.fix-btn-color {
	position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #40C4FF;
    background-image: none;
    border: 1px solid #40C4FF;
    border-radius: 4px;
}

.fix-btn-color span {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #FFEA00;
}

.content_images h1 {
    position: absolute;
    top: 130px;
    right: 70px;
    width: 40%;
    display: block;
    font-size: 24px;
    color: #D7070E;
    font-weight: 600;
    font-family: "IstokWebBoldItalic",sans-serif;
}

.content_wlecome {
    width: 100%;
    height: auto;
    border: 1px solid #e5e5e5;
    margin-bottom: 20p;
}

.welcome_text p {
    text-indent: 5%;
    font-size: 16px;
    font-family: "IstokWebBoldItalic",sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}

.welcome_images {
    width: 80%;
    height: 200px;
    margin: 120px auto;
}

.content_main-baners {
    width: 100%;
    height: auto;
    background-color: #40C4FF;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
} 

.content_main-baners a {
    display: inline-block;
}

.item-news_img img {
    width: 100%;
    height: 80%;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.pre-footer {
    width: 100%;
    height: auto;
    background-color: #A6C9F1;
}

.main__footer h5 {
    position: absolute;
    top: 12px;
    left: 40px;
    width: 60%;
    display: block;
    font-size: 14px;
    color: #D7070E;
    font-family: "IstokWebBoldItalic",sans-serif;
}

.main__footer h5:nth-child(2) {
    position: absolute;
    top: 90px;
    left: 40px;
    width: 40%;
    display: block;
    font-size: 14px;
    color: #D7070E;
    font-family: "IstokWebBoldItalic",sans-serif;
}

.main__footer h6 {
    position: absolute;
    top: 170px;
    left: 40px;
    width: 70%;
    display: block;
    font-size: 12px;
    color: #D7070E;
    font-weight: 600;
    font-family: "IstokWebBoldItalic",sans-serif;
    margin-top: -12px;
    margin-bottom: 0px;
}

} /*@media only screen and (max-width : 767px)*/

/**********Адатив finish*****/